html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
    @font-face {
        font-family: 'Noto Sans TC';
        src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
             url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
             url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
      }

    

    div.main{
        width: 100%;
        max-width: 900px;
        
        /* margin:0 auto; 如果屬性值只有兩個，第一個值為上下，第二個值為左右，對照如下*/
        margin:0 auto;
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
        
    }

    header{
        padding-top:30px;
        padding-bottom: 50px;
        text-align: center;
    }

    header img{
        width: 167px;
        height: 183px;
    }

    ul,li{
        list-style-type: none;
        display: inline-block;
    }
    
    
    .nav{
        font-size: 28px;
        width: 100%;
        height: 80px;
        display: flex;
        text-align: center;
    }
    /* 將原本的borderbottom跟top移到下面(nav123) 就不會跑框 */

    .ch{
        display:inline-block;
        font-weight:bold;
        color: black;
        font-family: 'Noto Sans TC';
    }
    
    .en{
        display: inline-block;
        color: #8a8000;
        font-family: sans-serif;
        font-weight: bold;
    }

    a{
        text-decoration: none;
    }


    #test{
        display: block;
    }
    /* 此設定為了撐開a，增加點擊範圍 */

    .nav1{
        flex:1;
        height: 80px;
        line-height: 80px;
        border-top:1px solid  #8a8000 ;
        border-bottom:1px solid  #8a8000 ;
    }

    .nav1:hover{
        background-color: #dcdddd;
    }



    .nav2{
        flex:1;
        height: 80px;
        line-height: 80px;
        border-top:1px solid  #8a8000 ;
        border-bottom:1px solid  #8a8000 ;
        /* position: relative;
        display: inline-block; */
    }
/* 
    .dropdown{
        display: none;
        position: absolute;
        background-color: #8a8000;
        padding: 12px 16px;
    }
    
    .dropdown1{
        width: 100%;
    }

    .nav2:hover .dropdown{
        display: block;
    } */

    .nav2:hover{
        background-color:  #dcdddd;
    }
    .nav3{
        flex:1;
        height: 80px;
        line-height: 80px;
        border-top:1px solid  #8a8000 ;
        border-bottom:1px solid  #8a8000 ;
    }
    .nav3:hover{
        background-color:  #dcdddd;
    }
    .holmes{
        width: 100%;
        padding-top: 30px;
    }

    .neko{
        display:block;
        margin: auto;
        width: 100%;
        padding-top:30px;
        padding-bottom: 30px;
    }

    footer{
        background-color: #8a8000;
        margin-top: 30px;
    }

    .footer{
        width: 1000px;
        height: 135px;
        margin: 0 auto;
        background-color: #8a8000;
        padding:25px 50px;

    }

    .footer>div>li>a{
        Text-decoration:none;
        color: #fff;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        margin-right: 20px;
        
        /* padding-inline-start: 40px; 
        /* 每一行inline前面有40px的距離
        border:1px solid green; */ */
    }

    .footer>div>li>a:hover{
        border-bottom: 1px solid #fff;
    }

    .footer>div{
        display: inline;
    }

    .footer>div>span{
        float: right;
        color: #fff;
        letter-spacing:2px;
        font-family: 'Noto Sans TC',sans-serif;
        font-weight: bold;
    }

<<<<<<< HEAD


    .shop .item{
        border:1px solid #8a8000;
        border-bottom: none;
        padding: 11px;
    }

    .shop .item:last-child{
        border:1px solid #8a8000;
    }

    .shop .item .left{
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }


    .shop .item .mid{
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: -4px;
        padding:0 13px ;
        
    }

    .shop .item .mid h1{
        margin: 0px;
        font-size: 22px;
        
    }

    .shop .item .mid p{
        color: #827B00;
        font-size: 16px;
        margin-top:110px;
        
    }

    .shop .item .right{
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: -4px;
    }

    .shop .item .right h2{
        vertical-align: top;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 13px;
        padding-bottom: 7px;
        border-bottom:1px solid #827B00 ;
    }

    .shop .item .right .item_left{
        display: inline-block;
        width: 68%;
        margin-bottom: 10px;
    }
    .shop .item .right .item_right{
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin-bottom: 10px;
        margin-top: -5px;
        text-align: right;
    }

    .shop .item .right .h2_title{
        font-size: 17px;
        margin: 0px 0px 13px;
        color: #827B00;
        
    }

    .shop .item .right .h2_description{
        font-size: 14px;
        margin:0px
    }
    
    


    /* inlineblock中間有空白 如果調整到剛好100% 就會超過界線擠到下排 mg-4px可解決 */

    .shop .item .item_buy{
        text-decoration: none;
        background-color: #8a8000;
        color: #fff;
        padding: 8px 12px;
        border-radius:14px;
        display: inline-block;
        margin: 5px;
        vertical-align: top;
        font-size: 14px;
    }

    .shop .item a.item_buy:hover{
        background-color: black;
    }


    @media (max-width:600px){
        .shop .item{
            flex-direction: column;
        }
        .shop p:first-child{
            padding: 0px 10px;
        }
        .shop .item .left{       
            width: 100%;    
        }
        .shop .item .mid{       
            width: 100%;
            padding: 0px;
            margin: 0px;    
        }
        .shop .item .right{       
            width: 100%;
            margin: 0px;    
        }
        .shop .item .mid p{
            margin-top: 0px;
        }
        .nav {
            flex-direction: column;
            height: auto;
        }
    }
=======
>>>>>>> b0b747edf5ab3d5ce669126ee4e6d0a5f49a4635
